.a {
    padding-right: 15px;
}

.button {
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    border-style: none;
}

body {
    background-color: #f8f9fa;
}

.ii {
    border: 1px solid #c3c3c3;
}
.material-icons{
    top:0px;
    left:0px;
}
.fo{
    position: absolute;
}
.bg-light{
    margin-top: 40px;
    min-height: 100vh;
}

.containerCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 0.5px solid gray;

}

.containerCheck input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCheck input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerCheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#sticky-footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;  }